<header class="bg-sky-900 w-full h-[70px] px-[55px]">
  <div class="">

  </div>
  <div class="menu">
    <ul class="flex justify-start items-center gap-[100px] pt-[20px]">
      <li><a class="text-white uppercase" routerLink="/admin/list">Admin</a></li>
      <li><a class="text-white uppercase" routerLink="/admin/add">Add</a></li>
      <li><a class="text-white uppercase" routerLink="/admin/edit/">Update</a></li>
      <li><a class="text-white uppercase" href="/admin/list">List</a></li>

    </ul>

  </div>
</header>