<header class="header">
  <div class="top-bar">
    <div class="top-bar__left">
      <ul>
        <li>
          <a routerLink="tel:0982022969">
            <span class="iconTop icon-1-top"></span>
            <span class="number-phone">
              <b>028.3844.7470</b>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="top-bar__right">
      <ul>
        <li>
          <a routerLink="/signin">
            <span class="iconTop icon-4-top"></span>
            <span class="Account">Account</span>
          </a>
        </li>
        <li>
          <a routerLink="/cart">
            <span class="iconTop icon-5-top"></span>
            <span class="Cart">
              Cart (1)
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="site-header" id="main-header">
    <div class="logo">
      <a routerLink="/">
        <img class="logo-4men"
          src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1680765957/assignment_FE2/k6mfhr0t9e9ttnzm5p4b.png"
          alt="Logo CidiiShop" height="64px" />
      </a>
    </div>
    <nav class="nav">
      <ul class="menu" id="menu">
        <li>
          <a routerLink="/" class="hover">
            home
          </a>
        </li>
        <li>
          <a routerLink="/about" class="hover">
            about
          </a>
        </li>
        <li class="menu-container">
          <a routerLink="/products" class="hover">
            products
          </a>
        </li>
        <li>
          <a routerLink="/news" class="hover">
            news
          </a>
        </li>
        <li>
          <a routerLink="/contact" class="hover">
            Contact us
          </a>
        </li>
      </ul>
    </nav>
    <div class="form-inline search">
      <input type="text" id="inputForm1" class="form-controlCus" placeholder="Search..." autoComplete="off" />
      <input type="submit" class="btnCus" />
    </div>
  </div>
</header>
