<header class="header">
  <div class="top-bar">
    <div class="top-bar__left">
      <ul>
        <li>
          <a href="tel:0982022969">
            <!-- <MdPermPhoneMsg /> -->
            <span class="number-phone">
              <b>028.3844.7470</b>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="top-bar__right">
      <ul>
        <li>
          <a href="/signin">
            <!-- <FaUserCircle /> -->
            <span class="Account">Account</span>
          </a>
        </li>
        <li>
          <a href="/cart">
            <!-- <RiShoppingBag3Fill /> -->
            <span class="Cart">
              Cart(1)
              <!-- <Text type="danger">
                ( 1 )
              </Text> -->
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="site-header" id="main-header">
    <div class="logo">
      <a href="/">
        <img class="logo-4men"
          src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1680765957/assignment_FE2/k6mfhr0t9e9ttnzm5p4b.png"
          alt="Logo CidiiShop" height="64px" />
      </a>
    </div>
    <nav class="nav">
      <ul class="menu" id="menu">
        <li>
          <a href="/" class="hover">
            home
          </a>
        </li>
        <li>
          <a href="/" class="hover">
            about
          </a>
        </li>
        <li>
          <!-- <Dropdown overlay={menu} placement="bottom">
                  <a href="/products">
                      <Space>
                          products
                          <DownOutlined />
                      </Space>
                  </a>
              </Dropdown> -->
          <a href="/" class="hover">
            products
          </a>
        </li>
        <li>
          <a href="/" class="hover">
            news
          </a>
        </li>
        <li>
          <a href="/contact" class="hover">
            Contact us
          </a>
        </li>
      </ul>
    </nav>
    <div class="form-inline search">
      <input type="text" id="inputForm1" class="form-controlCus" placeholder="Search..." autoComplete="off" />
      <input type="submit" class="btnCus" />
    </div>
  </div>
</header>
