<section class="bg-white">
  <div class="flex items-center justify-center">
    <form [formGroup]="cateForm" (ngSubmit)="onHandleSubmit()" class="mt-8 grid grid-cols-6 gap-6">
      <div class="col-span-6">
        <label for="Email" class="block text-sm font-medium text-gray-700">
          Tên danh mục
        </label>

        <input type="text" formControlName="name"
          class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-[35px]" />
        <div *ngIf="validate.name.errors" [hidden]="!validate.name.touched">
          <div>
            <p class="text-red-500">Không được để trống</p>
          </div>
        </div>
      </div>
      <div class="col-span-6 sm:flex sm:items-center sm:gap-4 ml-[305px]">
        <button type="submit"
          class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500">
          Sửa
        </button>

      </div>
    </form>
  </div>
</section>